body {
  padding: 20px 50px;
  font-family: 'Roboto Slab', serif;
  background-color: white;
}
input, textarea, button {
	font-family: 'Roboto Slab', serif;
}

aside {
	width: 33.33333%;
	float: left;
}
aside > * {
	margin: 16px;
}
section {
	width: 66.66666%;
	float: left;
}

label {
	display: block;
}
button {
	font-size: 20px;
	color: white;
	border: none;
	background-color: #ccc;
	border-radius: 3px;
	padding: 8px 16px;
}
button.dirty {
	background-color: rgba(239,63,0,1);
}

ul {
	list-style: none;
	padding: 10px;
}
li {
	border-bottom: 1px solid #ccc;
}
li:last-child {
	border-bottom: none;
}
li a:link,
li a:visited {
	color: rgba(41,137,216,1);
}
li.important a:link,
li.important a:visited {
	color: rgba(239,63,0,1);
}
li.spam a:link,
li.spam a:visited {
	color: #ccc;
}


textarea {
	width: 100%;
	background-color: #eee;
	border: none;
	height: 120px;
	font-size: 14px;
}


.show-spam > *, .show-important > * {
	display: none;
}
.show-spam > .spam {
	display: block;
}
.show-important > .important {
	display: block;
}

.lines {
		
}
.content {
	background-color: white;
	box-shadow: 0 0 50px -20px black;
}
.content:after {
	clear: both;
	display: block;
	content: "";
}
hr {
	height: 10px;
	clear: both;
	margin: 0;
	padding: 0;
	border: none;
	display: block;
	background-image: repeating-linear-gradient(135deg, rgba(41,137,216,1) 0px, rgba(41,137,216,1) 30px, white 31px, white 50px, rgba(239,63,0,1) 51px, rgba(239,63,0,1) 80px, white 81px, white 100px);
}